<%= react_component('OverviewMap', stands: @stands) %>
 
   <div style="float:left; display:inline-block;">
      <div id="OverviewMap" style="width:500px;height:300px"></div>
    </div>




<% content_for :title do %>Stands<% end %>

<h1>Listing Stands</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Square m</th>
      <th>Bounds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stands.each do |stand| %>
      <tr>
        <td><%= stand.max_long %></td>
        <td><%= stand.min_long %></td>
        <td><%= stand.max_lat %></td>
        <td><%= stand.min_long %></td>
        <td><%= link_to 'Show', stand %></td>
        <td><%= link_to 'Edit', edit_stand_path(stand) %></td>
        <td><%= link_to 'Destroy', stand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stand', new_stand_path %>
